*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'EB Garamond', serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
 
}
.nav-link {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 30px;
    padding: 0;
}
.container1 {
    background: url(/R.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 330px;
}
#img2 {
    padding: 50px;
    margin: 10px;
    width: 105%;
    margin-top: 90px;
}
#Home {
    text-align: center;
}